html {
  font-size: 62.5%;
  width: 100vw;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 2rem;
}

h5,
h6,
p,
label,
a,
strong {
  font-size: 1.75rem;
}

body {
  background-color: #202020;
}
